@import "~bootstrap/scss/bootstrap";

body {
    background-color: #f5F5F5;
}

.result-display {
    background-color: rgb(31, 31, 31);
    border-radius: 10px;
}

#copy-btn {
    right: 15px;
}

code {
    color: white;
    display: block;
    white-space: normal;
}

.content-infos, #result {
    background: rgb(165,255,235);
    background: linear-gradient(312deg, rgba(165,255,235,0.7262255243894433) 17%, rgba(245,119,251,0.6533963927367823) 47%, rgba(249,255,145,0.6449930313922444) 83%);
    border-radius: 10px;
}

.legal a {
    font-size: 0.9rem;
}

.copyright {
    font-size: 0.8rem;
}